<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<meta charset="utf-8">
		<link rel="shortcut icon" href="/img/favicon.png">
		<link rel="apple-touch-icon" href="/img/favicon.png">
		<meta name="author" content="Abhay Rana">
		<meta name="keywords" content="captnemo, abhay rana, sdslabs, github pages, piratecoders, iit roorkee, abhayumt">
		<!--Open Graph Related Stuff-->
		<meta property="og:title" content="{{ page.title }}" >
		<meta property="og:url" content="http://captnemo.in{{ page.url }}" >
		{% if page.date %}
		<meta property="article:published_time" content='{{ page.date | date:"%Y-%m-%d" }}' >
		<meta property="og:type" content="article">
		{% endif %}
		<meta property="og:site_name" content="captnemo.in" >
		<meta property="og:image" content="http://captnemo.in/img/favicon.png" >
		<!--Facebook Comments-->
		<meta property="fb:admins" content="capt.n3m0">
		<meta property="fb:app_id" content="358126290896126">
		<!--CSS-->
		<link href='http://fonts.googleapis.com/css?family=Ubuntu|Gentium+Book+Basic:700,700italic' rel='stylesheet' type='text/css'>
		<link href="/css/bootstrap.css" rel="stylesheet">
		<link href="/css/bootstrap-responsive.css" rel="stylesheet">
		<link href="/css/screen.css" rel="stylesheet">
		<link href="/css/syntax.css" rel="stylesheet">
		<!--Authorship-->
		<link rel="me" href="https://plus.google.com/116290713924645527187/">
		<link rel="me" href="https://facebook.com/capt.n3m0">
		<!--Responsive Design-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!--[if lt IE 9]>
			<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
		<![endif]-->
		<!-- le google analytics -->
		<script>
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-5922129-9']);
		  _gaq.push(['_trackPageview']);
		  (function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
	</head>
	<body>
		<div class="body container-fluid">
			<div class="row-fluid">
				<div class="left-sidebar span3">
					<div class="image">
						<img class="thumbnail" src="/img/profile.jpg">
					</div>
					<h2 class="blog-title"><a title="List of Posts" href="/">captnemo.in</a></h2>
					<ul class="nav">
						<li class="about"><a title="About Me" href="/about/">about</a></li>
						<li class="projects"><a title="My Projects" href="/projects/">projects</a></li>
						<li class="contact"><a title="Contact Me" href="/contact/">contact</a></li>
						<li class="rss"><a title="Atom Feed" href="/atom.xml">rss</a></li>
					</ul>
				</div>
				<div class="content span9">
					<h1>{{ page.title }}</h1>
					{{content}}
				</div>
				<div class="span1 sidebar">
					<ul class="sharebox">
						<li><a href="https://twitter.com/share" class="twitter-share-button" data-via="bufferapp" data-count="vertical">Tweet</a>
						<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></li>
						<li class="facebook"><div class="fb-like" data-href="http://captnemo.in/{{page.url}}" data-send="false" data-layout="box_count" data-width="450" data-show-faces="false"></div></li>
						<li class="googleplus"><g:plusone size="tall"></g:plusone><script type="text/javascript">
						  (function() {
							var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
							po.src = 'https://apis.google.com/js/plusone.js';
							var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
						  })();
						</script></li>
						<li><a class="share-btn btn btn-default btn-small" href="https://github.com/captn3m0/captn3m0.github.com"><i class="icon-gh"></i> SRC</a></li>
						<li><a class="share-btn btn btn-warning btn-small" href="/atom.xml"><i class="icon-rss"></i> RSS</a></li>
					</ul>
					<div id="fb-root"></div>
					<script>(function(d, s, id) {
					  var js, fjs = d.getElementsByTagName(s)[0];
					  if (d.getElementById(id)) return;
					  js = d.createElement(s); js.id = id;
					  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=103667826405103";
					  fjs.parentNode.insertBefore(js, fjs);
					}(document, 'script', 'facebook-jssdk'));
					</script>
				</div><!--sidebar-->
			</div><!--row-fluid-->
		</div><!--container-->
	</body>
</html>
